<!-- Navbar -->
        <div style="width: 20%; height: 100vh;">
            <div class="bg-white p-3 position-fixed top-0 left-0" style="width: 20%; height: 100vh;">
                <div class="d-flex gap-2 align-items-center">
                    <img class="rounded" src="/public/images/page/image.png" style="width: 50px; height: 50px;" alt="">
                    <span class="primary-color fs-3 text">Reddit.</span>
                </div>
                <hr />
    
                <ul class="navbar_mn d-flex flex-column gap-3">
                    <li class="hover-li d-flex gap-3 align-items-center px-4 py-2">
                        <a href="/admin/" class="adm_navbar">
                            <i class="fa-solid fa-cube"></i>
                            <span class="text fs-6">Thống kê</span>
                        </a>
                    </li>
                    <li class="hover-li d-flex gap-3 align-items-center px-4 py-2">
                        <a href="/admin/user" class="adm_navbar">
                            <i class="fa-solid fa-cube"></i>
                            <span class="text fs-6">Khách hàng</span>
                        </a>
                    </li>
                    <li class="hover-li d-flex gap-3 align-items-center px-4 py-2">
                        <a href="" class="adm_navbar">
                            <i class="fa-solid fa-cube"></i>
                            <span class="text fs-6">Sản phẩm</span>
                        </a>
                    </li>
                    <li class="hover-li d-flex gap-3 align-items-center px-4 py-2">
                        <a href="/admin/accept" class="adm_navbar">
                             <i class="fa-solid fa-cube"></i>
                            <span class="text fs-6">Thông báo</span>
                        </a>
                    </li>
                </ul>
                <div class="d-flex gap-2 align-items-center position-absolute" style="bottom: 30px; left: 30px;">
                    <i class="fa-solid fa-arrow-right"></i>
                    <span>Log out</span>
                </div>
            </div>
        </div>

        <script>
            const navbarItems = document.querySelectorAll('.navbar_mn li');
            var path_URL = location.pathname;
            if(path_URL == "/admin/"){
                navbarItems[0].classList.add('button_active');
            }else if(path_URL == "/admin/user"){
                navbarItems[1].classList.add('button_active');  
            }else if(path_URL == "/admin/product"){
                navbarItems[2].classList.add('button_active');
            }else if(path_URL == "/admin/accept"){
                navbarItems[3].classList.add('button_active');
            }
        </script>