<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
    <!-- Quill stylesheet -->
    <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">

    <link rel="stylesheet" href="/public/css/style.css">
</head>
<body>
    <div>
       
     <%- include('./partials/header.ejs') %>

        <div class="" style="padding: 40px 9%;">
            <div class="d-flex align-items-center gap-2">
                <div class="rounded-circle primary-bg-color d-flex justify-content-center align-items-center" style="width: 50px; height: 50px;">
                    <i class="fa-solid fa-cube text text-white" style="font-size: 20px;"></i>
                </div>
                <h4 class="dark-blue-color text fs-4 fw-semibold">GÓI BIRDS</h4>
            </div>

            <form action="/user/auction" method="post" class="mt-4 d-flex gap-5">
                <div>
                    <h4 class="text fs-5">Yêu cầu</h4>
                      <div class="d-flex flex-column gap-2">
                            <label for="">Tiêu đề</label>
                            <input type="text" name="title" id="" placeholder="Tiêu đề ..." 
                                style="border: 1px solid #989696;" class="rounded p-2">
                        </div>
                    <div id="editor-container" style="height: 300px;"></div>
                </div>
                <input type="hidden" name="content" id="editor_content" >
                <div style="width: 20rem;">
                    <h4 class="text fs-5">Thời gian đấu giá</h4>
                    <div class="d-flex gap-3 flex-column border border-secondary-subtle p-3">
                        <div class="d-flex flex-column gap-2">
                            <label for="">Bắt đầu</label>
                            <input type="datetime-local" name="open" id="" placeholder="dd/MM/yyyy" 
                                style="border: 1px solid #989696;" class="rounded p-2">
                        </div>
                        <div class="d-flex flex-column gap-2">
                            <label for="">Kết thúc</label>
                            <input type="datetime-local" name="close" id="" placeholder="dd/MM/yyyy"
                                style="border: 1px solid #989696;" class="rounded p-2">
                        </div>
                        <div class="d-flex flex-column gap-2">
                            <label for="">Số tiền</label>
                            <input type="number" name="price" id="" min="0" placeholder="0"
                                style="border: 1px solid #989696;" class="rounded p-2">
                        </div>
                    </div>
                    <button class="button-primary block px-3 py-2 w-100 mt-4" id="btn-submit" type="submit">
                        Đăng bài
                    </button>
                </div>
            </form>
        </div>

       
     <%- include('./partials/footer.ejs') %>
    </div>





    <!-- Quill library -->
    <script src="https://cdn.quilljs.com/1.3.6/quill.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js" integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq" crossorigin="anonymous"></script>
    <script src="/public/script/auction.js"></script>
    <script src="/public/script/jquery.js"></script>
    <script>
        quill.on("text-change", function (delta, oldDelta, source) {
            const contentHtml = quill.root.innerHTML;
            $('#editor_content').val(contentHtml)
            console.log(  $('#editor_content').val())
        });
    </script>
</body>
</html>