<!-- Begin Header -->
        <header>
            <!-- Header top -->
            <div class="d-flex gap-4 justify-content-end align-items-center F0EBDA-bg-color" style="padding: 15px 9%;">
                <div class="d-flex">
                    <a href="/" class="inline-blobk px-4 text-black hover-text">Trang chủ</a>
                    <a href="/auction" class="inline-blobk px-4 text-black hover-text">Đấu giá</a>
                    <a href="/user/auction" class="inline-blobk px-4 text-black hover-text">Đăng bài</a>
                    <a href="/bid-package" class="inline-blobk px-4 text-black hover-text">Gói Birds</a>
                </div>
                <div class="d-flex gap-4 align-items-center">
                    <div class="position-relative z-3 div-bell">
                        <i class="fa-solid fa-bell primary-color pointer"></i>
                        <div class="position-absolute bg-white rounded p-3 shadow div-infomation" style="top: calc(100%); right: 0; width: 25rem;">
                            <div class="d-flex justify-content-between align-items-center">
                                <span class="fs-6 text fw-semibold">Thông báo</span>
                                <i class="fa-solid fa-ellipsis"></i>
                            </div>
                            <div class="d-flex gap-4 align-items-center my-3">
                                <button class="primary-color fw-semibold px-3 py-1 rounded-pill" style="background-color: rgba(255, 85, 0, 0.544);">Tất cả</button>
                                <button class="bg-white">Chưa đọc</button>
                            </div>
                            <div>
                                <div>
                                    <div class="d-flex justify-content-between align-items-center mb-2">
                                        <span class="fw-bold fs-6 text">Mới</span>
                                        <a href="" class="primary-color">Xem tất cả</a>
                                    </div>
                                    <div class="d-flex flex-column gap-3">
                                        <!-- <div class="d-flex gap-3 align-items-center">
                                            <img src="/public/images/page/image.png" class="rounded-circle" style="width: 50px; height: 50px;" alt="">
                                            <div>
                                                <p class="flex-fill fs-7">Bắt đầu đấu giá: "Phiên đấu giá cho sản 
                                                    phẩm X của bạn đã bắt đầu."</p>
                                                <span class="primary-color fst-italic">2 phút</span>
                                            </div>
                                            <div class="primary-bg-color rounded-circle" style="width: 15px; height: 15px;"></div>
                                        </div>
                                        <div class="d-flex gap-3 align-items-center">
                                            <img src="/public/images/page/image.png" class="rounded-circle" style="width: 50px; height: 50px;" alt="">
                                            <div>
                                                <p class="flex-fill fs-7">Bắt đầu đấu giá: "Phiên đấu giá cho sản 
                                                    phẩm X của bạn đã bắt đầu."</p>
                                                <span class="primary-color fst-italic">2 phút</span>
                                            </div>
                                            <div class="primary-bg-color rounded-circle" style="width: 15px; height: 15px;"></div>
                                        </div>
                                        <div class="d-flex gap-3 align-items-center">
                                            <img src="/public/images/page/image.png" class="rounded-circle" style="width: 50px; height: 50px;" alt="">
                                            <div>
                                                <p class="flex-fill fs-7">Bắt đầu đấu giá: "Phiên đấu giá cho sản 
                                                    phẩm X của bạn đã bắt đầu."</p>
                                                <span class="primary-color fst-italic">2 phút</span>
                                            </div>
                                            <div class="primary-bg-color rounded-circle" style="width: 15px; height: 15px;"></div>
                                        </div> -->
                                    </div>
                                </div>
                                <!-- <div>
                                    <div class="d-flex justify-content-between align-items-center my-2">
                                        <span class="fw-bold fs-6 text">Trước đó</span>
                                    </div>
                                    <div class="d-flex flex-column gap-3">
                                        <div class="d-flex gap-3 align-items-center">
                                            <img src="/public/images/page/image.png" class="rounded-circle" style="width: 50px; height: 50px;" alt="">
                                            <div>
                                                <p class="flex-fill fs-7">Bắt đầu đấu giá: "Phiên đấu giá cho sản 
                                                    phẩm X của bạn đã bắt đầu."</p>
                                                <span class="primary-color fst-italic">2 phút</span>
                                            </div>
                                            <div class="primary-bg-color rounded-circle" style="width: 15px; height: 15px;"></div>
                                        </div>
                                        <div class="d-flex gap-3 align-items-center">
                                            <img src="/public/images/page/image.png" class="rounded-circle" style="width: 50px; height: 50px;" alt="">
                                            <div>
                                                <p class="flex-fill fs-7">Bắt đầu đấu giá: "Phiên đấu giá cho sản 
                                                    phẩm X của bạn đã bắt đầu."</p>
                                                <span class="primary-color fst-italic">2 phút</span>
                                            </div>
                                            <div class="primary-bg-color rounded-circle" style="width: 15px; height: 15px;"></div>
                                        </div>
                                        <button class="text-black px-3 py-1 rounded bg-body-secondary">Xem thông báo trước đó</button>
                                    </div>
                                </div> -->
                            </div>
                        </div>
                    </div>
                    <i class="fa-solid fa-cart-shopping primary-color"></i>
                </div>
            </div>
            <!-- End header top -->
            <hr class="m-0 p-0"/>
            <!-- Header bottom -->
            <div class="d-flex justify-content-between align-items-center F5EDCE-bg-color" style="padding: 0 9%;">
                <div class="d-flex align-items-center gap-1">
                    <img src="/public/images/page/image.png" alt="" style="width: 80px;">
                    <span class="primary-color fs-3 text">Reddit.</span>
                </div>
                <div class="border border-black rounded d-flex align-items-center px-3 py-2 bg-light">
                    <input type="text" class="bg-light" style="width:300px;" placeholder="Tìm kiếm sản phẩm...">
                    <div>
                        <i class="fa-solid fa-magnifying-glass primary-color"></i>
                    </div>
                </div>
                <div class="fs-6 text d-flex gap-2">
                    <%if(!user){%>
                    <a class="text-black hover-text" href="/register">Đăng ký</a> | <a class="text-black hover-text" href="/login">Đăng nhập</a>
                    <%}else{%>
                        <a href="/user/info">Thông tin tài khoản</a>
                    <%}%>
                </div>
            </div>
            <!-- end header bottom -->
        </header>