<div class="p-3 bg-white rounded" style="width: 27%;">
            <div class="d-flex justify-content-between align-items-center">
                <img src="/public/images/user/<%=user.Avatar%>" class="rounded-circle" style="width: 60px; height: 60px;" alt="">
                <div>
                    <div class="d-flex justify-content-between align-items-center">
                        <span class="fs-6 text"><%=user.HoVaTen%></span>
                        <i class="fa-solid fa-cube pointer"></i>
                    </div>
                    <p class="fs-7"><%=user.Email%></p>
                </div>
            </div>
            <div class="mt-4">
                <div class="p-3 linear-orange rounded">
                    <div class="d-flex justify-content-between">
                        <p class="text fs-6 fw-semibold dark-blue-color">Tổng số tiền</p>
                        <span class="d-flex justify-content-center align-items-center primary-bg-color rounded-circle pointer" 
                                style="width: 30px; height: 30px;">
                            <i class="fa-solid fa-plus text text-white"></i>
                        </span>
                    </div>
                    <span class="text fs-3">0</span>
                </div>
                <div class="p-3 linear-green rounded mt-3">
                    <div class="d-flex justify-content-between">
                        <p class="text fs-6 fw-semibold dark-blue-color">Tổng số Bids</p>
                        <span class="d-flex justify-content-center align-items-center rounded-circle pointer" 
                                style="width: 30px; height: 30px; background-color: rgb(4, 143, 16);">
                            <a href="/bid-package"><i class="fa-solid fa-plus text text-white"></i></a>
                        </span>
                    </div>
                    <span class="text fs-3"><%=user.Bid%></span>
                </div>
            </div>
            <ul class="mt-4 d-flex flex-column gap-4 px-3">
                <li class="d-flex align-items-center gap-3">
                   <a href="/user/history">
                     <i class="fa-solid fa-cube"></i>
                    <span>Danh sách bài đăng</span>
                   </a>
                </li>
                <li class="d-flex align-items-center gap-3">
                   <a href="/user/history/bid">
                     <i class="fa-solid fa-cube"></i>
                    <span>Lịch sử đấu giá</span>
                   </a>
                </li>
                <!-- <li class="d-flex align-items-center gap-3">
                    <a href="/user/history/buy">
                        <i class="fa-solid fa-cube"></i>
                        <span>Lịch sử giao dịch Bids</span>
                    </a>
                </li> -->
                <li class="d-flex align-items-center gap-3">
                    <a href="/user/history/buy">
                    <i class="fa-solid fa-cube"></i>
                    <span>Lịch sử thanh toán</span>
                    </a>
                </li>
                <li class="d-flex align-items-center gap-3">
                   <a href="/user/password">
                     <i class="fa-solid fa-cube"></i>
                    <span>Thay đổi mật khẩu</span>
                   </a>
                </li>
                <li class="d-flex align-items-center gap-3">
                    <a href="/logout">
                    <i class="fa-solid fa-cube"></i>
                    <span>Đăng xuất tài khoản</span>
                    </a>
                </li>
                <!-- <li class="d-flex align-items-center gap-3">
                    <i class="fa-solid fa-cube"></i>
                    <span>Địa chỉ nhận hàng</span>
                </li>
                <li class="d-flex align-items-center gap-3">
                    <i class="fa-solid fa-cube"></i>
                    <span>Sản phẩm thắng</span>
                </li> -->
            </ul>
        </div>